

.App h1 {
  text-align: left;
}

.App .content {
  margin: 50px auto;
  width: 800px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.App .window_one {
  text-align: center;
  margin: 20px;
  justify-content: center;
  border: 2px solid #000;
  padding: 10px 20px;
}

.App .window_one_button {
  margin: 30px auto;
  text-align: center;
}

.App .btn_take_number {
  font-size: 24px;
  height: 40px;
  padding: auto 15px;
  width: 200px;
}

.App .btn_take_number:hover {
  cursor: pointer;
  background-color: darkgray;
  color: #fff;
}

.App .window_two {
  display: flex;
  justify-content: space-between;
}

.App .window_two .counter_box{
  border: 2px solid #000;
  padding: 10px 10px;
  margin: 10px;
  width: 120px;
  text-align: center;
}

.App .window_two .offline{
  background-color: gray;
  opacity: 0.7;
  cursor: not-allowed;
}

.App .window_two .counter_box span{
  font-size: 22px;
}

.App .window_two .counter_box .counter_status{
  width: 10px;
  height: 10px;
  background-color: green;
  border: 1px solid;
  border-radius: 20px;
  float: right;
}


.App .window_three {
  justify-content: space-between;
}

.App .window_three .counter_box div{
  border: 2px solid #000;
  padding: 10px 10px;
  margin: 10px;
  width: 150px;
  text-align: center;
  display: inline-block;
}

.App .window_three .counter_box > div > button{
  font-size: 15px;
  margin: 5px auto;
  width: 150px;
}

.App .window_three .counter_box > div > button:hover{
  background-color: antiquewhite;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
}

.App .window_three .counter_box div span{
  font-size: 22px;
}